Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, HEAD"
Header always set Access-Control-Allow-Headers "x-auth, x-company, x-address, x-requested-with"

Header always set Keep-Alive "timeout=50, max=1000"

RewriteEngine On
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule .* / [R=200,L]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

<filesMatch "\.(ico|gif|jpg|png|jpeg|pdf|tgs)$">
  ExpiresActive On
  ExpiresDefault "access plus 11 month"
  Header append Cache-Control "public"
  Header set Cache-Control "max-age=3024000, public"
</filesMatch>